# Arduino/PlatformIO build directories
build/
.pio/
__pycache__/
*.elf
*.bin
*.map
*.hex
*.bootloader.bin
*.partitions.bin

# Allow release binaries in bin/ folder
!bin/*.bin

# Editor specific
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db
